body{
    height: 100%;
    margin: 0;
    background-color: #222831;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;  
}
nav a{
    margin: 20px;
    color: white;
    text-decoration: none;
    
}


.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.small-text{
    font-size: 48px;
    margin-bottom: 50px;
    width: 300px;
    font-weight: 800;
    font-family: "ROBOTO",sans-serif;
}
.content button{
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.blue-btn{
    background-color: #00ADB5;
}
.grey-btn{
    background-color:  #CCCCCCCC;
    
}
.big-text{
    font-size: 64px;
    font-weight: 800;
    font-family: "ROBOTO",sans-serif;
}
.blue-text{
    color: #00ADB5;
}
.grey-text{
    width: 350px;
    font-size: 400;
    color: rgba(255, 255, 255, 0.639);
}
#white-text{
    color: white;
}

.about-section{
    display: flex;
}

.text{
    width: 300px;
}


.content:nth-last-child(1 of .content){
    align-items: start;
}
.content:nth-last-child(1 of .content)img{
    width: 250px;
}


#inner-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 550px;
}
.pre-footer{
    height: 100vh;
    margin-left: 120px;
}
.pre-footer img{
margin-right: 40px;
}
.buttons{
    margin: 30px 0px;
}
.buttons button{
    padding: 10px 30px;
    margin-right: 20px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #393E4680;
}

.buttons button:first-child{
    background-color: #00ADB5;
}

.buttons button:hover{
    opacity: 0.5;
    transition: 0.5s;
}

footer a{ 
    margin: 20px;
    color: white;
    text-decoration: none;
    font-family: "ROBOTO",sans-serif;
    }
.footer-text{
    font-family: "ROBOTO",sans-serif;
    padding: 10px;
}
.footer{
    display: flex;
    gap: 24px;
    height: 5%;
    margin-block-start: 20px;
    margin-block-end: 20px;
    
}
footer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 500px;
}
.hrefs{
    display: flex;
}




